<%- include('partials/header') %>



<% if(isLoggedIn){%>
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <button class="btn btn-outline-light" id="edit" onClick="toggleForm('.editText')">EDIT TEXT</button>
                <form action="/art/deletePiece/<%=piece._id%>?_method=DELETE" method="POST" class="float-left">
                    <button class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
                <button class="btn btn-outline-light float-right" id="edit" onClick="toggleForm('.editPhotos')">ADD PHOTOS</button>
            </div>
        </div>
    </div>


    <div class="containter editText d-none pt-2">
        <div class="row justify-content-center mr-0">
            <div class="col-11 col-sm-10 col-md-7 col-lg-5">
                <h1>Update Text</h1>
                <form action="/art/updateText/<%=piece._id%>?_method=PUT" method="POST" class="p-3">
                    <div class="form-group mx-2">
                        <label for="name" class="">Name of Piece</label>
                        <input type="text" name="name" id="name" class="form-control" value="<%=piece.name%>" required>
                    </div>
                    <div class="form-group mx-2">
                        <label for="desc" class="">Description of the Piece</label>
                        <textarea name="desc" id="desc" cols="30" rows="3" class="form-control" required><%=piece.desc%></textarea>
                    </div>
                    <div class="form-group mx-2">
                        <label for="series" class="">Series</label>
                        <input type="text" name="series" id="series" class="form-control" value="<%=piece.series%>">
                    </div>
                    <div class="form-group mx-2">
                        <label for="link" class="">Etsy Link</label>
                        <input type="text" name="link" id="link" class="form-control" value="<%=piece.link%>">
                    </div>
                    <div class="form-group mx-2">
                        <label for="price" class="">Price</label>
                        <input type="number" name="price" id="price" class="form-control" value="<%=piece.price%>">
                    </div>
                    <button type="submit" class="btn btn-outline-light">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container d-inline">
        <div class="row">

        </div>
    </div>


    <div class="containter d-none editPhotos pt-2">
        <div class="row justify-content-center mr-0">
            <div class="col-11 col-sm-10 col-md-7 col-lg-5">
                <h1>Add Photos</h1>
                <form action="/art/addPhotos/<%=piece._id%>?_method=PUT" enctype="multipart/form-data" method="POST" class="p-3">
                    <div class="form-group mx-2"> 
                        <label for="files" class="">Art Photo</label>
                        <input type="file" name="files" id="files" class="form-control" multiple required>
                    </div>
                    <button type="submit" class="btn btn-outline-light">Submit</button>
                </form>
            </div>
        </div>
    </div>
<%}%>

<div class="container pieceContainer pt-3 mt-3">
    <div class="row">
        <div class="col">
            <h1><%=piece.name%></h1>
        </div>
    </div>
    <div class="row justify-content-center artRow px-1">
        <%if(piece.images.length>1){%>
            <div class="col-xs-4 scrollableArt px-1 d-flex">
                <div class="arrowLeft d-inline h-100">
                    <i class="fas fa-arrow-left"></i>
                </div>

                <ul class="artPics d-inline px-1" id="images">
                    <%for(let i=0; i<piece.images.length; i++) {%>
                        <%if(i===0){%>    
                            <li class="imgList">
                                <img src="<%=piece.images[i].url%>" alt="Images of Art" class="img-fluid artPhoto">
                                <%if(isLoggedIn){%>
                                    <form action="/art/deletePhoto/<%=piece._id%>/<%=piece.images[i].cloudinaryID%>?_method=DELETE" method="POST" class="deleteButton">
                                        <button class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                <%}%>
                            </li>
                        <%} else {%>
                            <li class="d-none imgList">
                                <img src="<%=piece.images[i].url%>" alt="Images of Art" class="img-fluid artPhoto">
                                <%if(isLoggedIn){%>
                                    <form action="/art/deletePhoto/<%=piece._id%>/<%=piece.images[i].cloudinaryID%>?_method=DELETE" method="POST" class="deleteButton">
                                        <button class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                <%}%>
                            </li>
                        <%}%>
                    <%}%>
                </ul>

                <div class="arrowRight d-inline"> 
                    <i class="fas fa-arrow-right"></i>
                </div>
            </div>
            

        <%} else {%>
            <div class="col-xs-4 px-1 d-flex imgList">
                <img src="<%=piece.images[0].url%>" alt="Images of Art" class="img-fluid artPhoto rounded" id="image">   
            </div>
        <%}%>
    </div>
    <div class="row justify-content-center">
        <div class="col-xs-4">
            <p class="mt-1"><%=piece.desc%></p>
        </div>
    </div>
    <%if (piece.price) {%>
    <div class="row justify-content-center">
        <div class="col-xs-4">     
            <p>$<%=piece.price%></p>
        </div>
    </div>
    <%}%>
    <%if (piece.series) {%>
        <div class="row justify-content-center">
            <div class="col-xs-4">     
                <p>This piece is a part of the <%=piece.series%> series</p>
            </div>
        </div>
        <%}%>
    <%if (piece.link) {%>
        <div class="row justify-content-center">
            <div class="col-xs-4">         
                <p>Purchase on <a href="<%=piece.link%>">Etsy</a></p>
            </div>
        </div>
    <%}%>
    <%if(isLoggedIn){%>
        <%if(piece.sold){%>
            <form action="/art/markUnsold/<%=piece._id%>?_method=PUT" method="POST">
                <button class="btn btn-outline-primary my-3">Mark as Unsold</button>
            </form>
        <%} else {%>
            <form action="/art/markSold/<%=piece._id%>?_method=PUT" method="POST">
                <button class="btn btn-outline-primary my-3">Mark as Sold</button>
            </form>
        <%}%>
    <%}%>
</div>

<div class="container contactContainer my-3 py-2">
    <div class="row justify-content-center">
        <div class="col-xs-4">
            <%if(piece.sold){%>
                <h4>Do you have a question about this piece or want one like it? <br> Inquire Here:</h4>
            <%} else {%>
                <h4>Do you have a question about this piece? Inquire Here:</h4>
            <%}%>
            <form method="POST" action="/art/inquiry/<%=piece._id%>" class="px-1">
                <div class="form-row">
                <div class="form-group col-6">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="form-group col-6">
                    <input class="form-control" type="email" name="email" id="email" placeholder="Email" />
                </div>
                </div>
                <div class="form-row">
                <div class="col">
                    <textarea class="form-control pb-5"  name="message" id="message" placeholder="Message"></textarea>
                </div>
                </div>
                <input class="mt-2 btn btn-outline-light" type="submit" value="Submit" class="primary"/>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer') %>