<%- include('partials/header') %>

<% if(isLoggedIn){%>
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-light float-right" id="edit" onClick="toggleForm('.editText')">EDIT TEXT</button>
                <form action="/blog/deletePost/<%=post._id%>?_method=DELETE" method="POST" class="float-left">
                    <button class="btn btn-danger" onclick="return confirm('Are you sure?')" type="submit">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>


    <div class="containter editText d-none pt-2">
        <div class="row justify-content-center mr-0">
            <div class="col-11 col-sm-10 col-md-7 col-lg-5">
                <h1>Update Text</h1>
                <form action="/blog/updateText/<%=post._id%>?_method=PUT" method="POST" class="p-3">
                    <div class="form-group mx-2">
                        <label for="title" class="">Blog Title</label>
                        <input type="text" name="title" id="title" class="form-control" value="<%=post.title%>" required>
                    </div>
                    <div class="form-group mx-2">
                        <label for="body" class="">Blog Body</label>
                        <textarea name="body" id="body" cols="30" rows="10" class="form-control" required><%=post.body%></textarea>
                    </div>
                    <div class="form-group mx-2">
                        <label for="link" class="">Related Links (separate with a comma , )</label>
                        <input type="text" name="link" id="link" class="form-control" value="<%=post.link%>"> 
                    </div>
                    <button type="submit" class="btn btn-outline-light">Submit</button>
                  </form>
            </div>
        </div>
    </div>
<%}%>


<h1 class="pt-2 mb-0"><%=post.title%></h1>

<div class="container my-4 text-center w-50 mt-0 postContainer">
    <div class="row">
        <div class="col">
            <img src="<%=post.image%>" alt="Blog Post Image" class="img img-fluid rounded my-2">
            <p class="blogBody text-left">
                <%=post.body%>
            </p>
            <%if(post.link){%>
                <h5>Related Links</h5>
                <%for(let i=0; i<post.link.length;i++){%>
                    <a href="<%=post.link[i]%>" target="_blank" rel="noreferrer noopener"><%=post.link[i]%></a>
                    <br>
                <%}%>
            <%}%>    
        </div>
    </div>
</div>



<%- include('partials/footer') %>