<%- include('partials/header') -%>

<div class="jumbotron">

</div>


<h2 id="available">Available Art</h2>
<div class="container artContainer mb-3">
    <div class="row py-3">
        <%for(let i=0; i<avail.length; i++){%>
            <div class="col-xs-4">
                <img src="<%=avail[i].images[0].url%>" alt="<%=avail[i].name%> Image" class="img-fluid rounded artImage mx-3">
            </div>
        <%}%>
    </div>
</div>

<h2 id="sold">Sold Art</h2>

<div class="container artContainer mb-3">
    <div class="row py-3">
        <%for(let i=0; i<sold.length; i++){%>
            <div class="col-xs-4">
                <img src="<%=sold[i].images[0].url%>" alt="<%=sold[i].name%> Image" class="img-fluid rounded artImage mx-3">
            </div>
        <%}%>
    </div>
</div>

<%- include('partials/footer') -%>
