<%- include('partials/header') -%>

<div class="jumbotron mb-3 mt-2">

</div>



<h2 id="available" class="pt-5">Available Art</h2>
<div class="container availArtContainer mb-3 mt-1">
    <div class="row py-3 avail">
        <%for(let i=0; i<avail.length; i++){%>
            <div class="col-xs-4 artHome mx-3">
                <a onclick="return false" ondblclick="location=this.href" href="art/<%=avail[i]._id%>">
                    <img src="<%=avail[i].images[0].url%>" alt="<%=avail[i].name%> Image" class="img-fluid rounded artImage">
                </a>
                <p class="dblClickBanner">Double Click to See Info</p>
            </div>
        <%}%>
        <div class="col-xs-4 mx-3 rounded etsyLinkContainer p-4">
            <a href="https://www.etsy.com/shop/ebandflowwart?ref=simple-shop-header-name&listing_id=1037324618" target="_blank" rel="noreferrer noopener">
                <p>
                    For all available art, please visit 
                    <br>
                    the Eb&Floww Art shop on Etsy.
                </p>
            </a>
        </div>
    </div>
</div>



<h2 id="about" class="pt-5">About Me</h2>
<div class="container aboutContainer mb-3 d-flex">
    <div class="row align-items-start pb-3">
        <div class="col align-items-start">
            <div class="image-wrapper">
                <img src="/images/ebs.jpg" alt="Picture of the Artist, Ebony" class="rounded img img-fluid" id="artistImage">
            </div>
            <div class="content-wrapper text-left">
                <p class="align-self-start">Artist and creator Ebony Charity, also known as “Eb”, is an Orlando, FL native and University of Central Florida Alumni. Back in 2018, she noticed manufactured art in retail stores and decided to begin creating original abstract artwork on my own.
            
                    Inspired by the literal term, Eb&Floww is a collection of original abstract art pieces on canvas using acrylic paint and liquid mediums. The natural flow of liquified paint is then tilted in a rhythmical pattern of coming and going, also demonstrating a decline and regrowth.
                    
                    All current artwork available for purchase is currently listed on Instagram @ebandflowwart!</p>
            </div>
        </div>
    </div>
</div>


<h2 id="sold" class="pt-5">Sold Art</h2>
<div class="container soldArtContainer mb-5 mt-1">
    <div class="row py-3 sold">
        <%for(let i=0; i<sold.length; i++){%>
            <div class="col-xs-4 artHome rounded mx-3">
                <a onclick="return false" ondblclick="location=this.href" href="/art/<%=sold[i]._id%>" class="artLink">
                    <img src="<%=sold[i].images[0].url%>" alt="<%=sold[i].name%> Image" class="img-fluid rounded artImage">
                </a>
                <p class="dblClickBanner">Double Click to See Info</p>
            </div>
        <%}%>
    </div>
</div>



<%- include('partials/footer') -%>
